/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color: #3379be;
	position:relative;
}

body{
    background-color: #3379be;
    padding: 200px 0 0;
    font:14px/1.3 'Segoe UI',Arial, sans-serif;  
    text-align: center;
    padding-top: 50px;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Main Section
-----------------------------*/

#english, #maths {
	color: #000000;
	font-size: 5rem;
	margin: 0 auto;
        margin-top: 20px;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
        background-color: #ffffff;
        border-radius: 20px;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}


#blue-background {
    background-color: #3379be;
}

#purple-arrow {
    background-color: #430e3a;
}

#arrow-up {
  display: inline-block;
    position: relative;
    height: 150px;
    width: 50%;
    background: #ffffff;
}




.one {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100%;
    background: #ffffff;
}

.one:before, .one:after {
    position: absolute;
    top: -155px;
    content: '';
    width: 50%;
    height: 155px;
}
.one:before {
    left: 0px;
    background: linear-gradient(to right bottom, transparent 50%, #ffffff 50%);
}
.one:after {
    right: 0px;
    background: linear-gradient(to left bottom, transparent 50%, #ffffff 50%);
}



.two {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100%;
    background: #3379be;
}

.two:before, .two:after {
    position: absolute;
    top: -155px;
    content: '';
    width: 50%;
    height: 155px;
}
.two:before {
    left: 0px;
    background: linear-gradient(to right bottom, transparent 50%, #3379be 50%);
}
.two:after {
    right: 0px;
    background: linear-gradient(to left bottom, transparent 50%, #3379be 50%);
}

.three {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100%;
    background: #430e3a;
}

.three:before, .three:after {
    position: absolute;
    top: -155px;
    content: '';
    width: 50%;
    height: 155px;
}
.three:before {
    left: 0px;
    background: linear-gradient(to right bottom, transparent 50%, #430e3a 50%);
}
.three:after {
    right: 0px;
    background: linear-gradient(to left bottom, transparent 50%, #430e3a 50%);
}


.four {
    display: inline-block;
    position: relative;
    height: 0px;
    width: 100%;
    background: #3379be;
}

.four:before, .four:after {
    position: absolute;
    top: -155px;
    content: '';
    width: 50%;
    height: 155px;
}
.four:before {
    left: 0px;
    background: linear-gradient(to right bottom, transparent 50%, #3379be 50%);
}
.four:after {
    right: 0px;
    background: linear-gradient(to left bottom, transparent 50%, #3379be 50%);
}



.footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:660px;
}

.logo {
    width: 40%;
    margin-left: 10%;
    position: absolute;
    left: 0px;
}

.logo-span {
    width: 100%;
        padding-bottom: 20%;
}

h1 {
    font-size: 8em;
    color: #ffffff;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10%;
}

.bar {
    width:100%;
    height: 400px;
    background-color: #430e3a;
    padding-top: 40px;
    margin-bottom: 50px;
    min-width: 843px;
}

.left {
    min-width: 50%;
    max-width: 50%;
    float: left;
}

.right {
    min-width: 50%;
    max-width: 50%;
    float: left;
}

h2 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
}

.info {
    z-index: 10;
    color: white;
    position: absolute;
    display: block;
    margin-bottom: 600px;
    width: 100%;
    height: 200px;
    text-align: left;
}

.info p, a {
    font-size: 3rem;
    margin-left: 10%;
    margin-bottom: 10px;
}

.info a {
    color: #430e3a;
    font-weight:bolder;
    text-decoration: underline;
}